<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!--spring MVC 基础配置-->

    <!--自动扫描controller包-->
    <!-- 使用Annotation自动注册Bean,只扫描@Controller -->
    <context:component-scan base-package="me.app" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!--启动springmvc注解功能-->
    <mvc:annotation-driven/>

    <!--多视图解析器-->
    <!-- jsp视图 -->
    <bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
    </bean>

    <!-- 配置freeMarker视图解析器（可解析HTML） -->
    <!-- html视图解析器 必须先配置freemarkerConfig,注意html是没有prefix前缀属性的-->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/html/"/>
    </bean>
    <bean id="htmlviewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="suffix" value=".html" />
        <property name="order" value="0"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>

    <mvc:view-controller path="/" view-name="redirect:/login.html" />
    <mvc:default-servlet-handler/>
    <mvc:resources location="WEB-INF/images/" mapping="/img/**"/>
    <mvc:resources location="WEB-INF/js/" mapping="/js/**"/>
    <mvc:resources location="WEB-INF/css/" mapping="/css/**"/>
    <mvc:resources mapping="/error/**" location="WEB-INF/jsp/error/"/>
</beans>